@media (orientation: portrait) {
  .blocker {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #787878;
    // gap: 10vh;
    z-index: 2000;
  }


}

@media (orientation: landscape) {
  .blocker {
    display: none;
  }
}
